<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeerRandomSkin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SeerRandomSkin.Properties.Settings>
            <setting name="SkinIds" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRandomSkin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkinBlackList" serializeAs="String">
                <value>5001,5002,5005,5017,5044,5045,5069,5098,5375,5376,5377,5379,5380,5381,5383,5384,5385,5387,5388,5389,5391,5392,5393,5395,5396,5397,5399,5400,5401,5596,5597,5598,5599,5600,5604,5609,</value>
            </setting>
            <setting name="SeerCloth" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="BrowserFont" serializeAs="String">
                <value />
            </setting>
            <setting name="IsH5First" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWidth" serializeAs="String">
                <value>976</value>
            </setting>
            <setting name="WinHeight" serializeAs="String">
                <value>624</value>
            </setting>
        </SeerRandomSkin.Properties.Settings>
    </userSettings>
</configuration>