<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SeerRandomSkin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <SeerRandomSkin.Properties.Settings>
            <setting name="SkinIds" serializeAs="String">
                <value />
            </setting>
            <setting name="IsRandomSkin" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SkinBlackList" serializeAs="String">
                <value>5001,5098,</value>
            </setting>
            <setting name="SeerCloth" serializeAs="String">
                <value>{}</value>
            </setting>
            <setting name="BrowserFont" serializeAs="String">
                <value />
            </setting>
            <setting name="IsH5First" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WinWidth" serializeAs="String">
                <value>976</value>
            </setting>
            <setting name="WinHeight" serializeAs="String">
                <value>624</value>
            </setting>
            <setting name="IsChangeBackground" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsChangeAdPanel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsChangeVipIcon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoExecuteSoftwarePath1" serializeAs="String">
                <value />
            </setting>
            <setting name="SkinRangeFloor" serializeAs="String">
                <value>453</value>
            </setting>
            <setting name="SkinRangeCeiling" serializeAs="String">
                <value>2147483647</value>
            </setting>
        </SeerRandomSkin.Properties.Settings>
    </userSettings>
</configuration>